In [1]:
#import classifiers
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

In [2]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv(r'heart_data/heart.csv')

In [5]:
data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [7]:
#encode the categorical values
data.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [8]:
enc_ecg={'Normal':1, 'ST':2,'LVH':3}

In [9]:
enc_ecg

{'Normal': 1, 'ST': 2, 'LVH': 3}

In [10]:
data.RestingECG.map(enc_ecg)

0      1
1      1
2      2
3      1
4      1
      ..
913    1
914    1
915    1
916    3
917    1
Name: RestingECG, Length: 918, dtype: int64

In [11]:
data.RestingECG = data.RestingECG.map(enc_ecg)

In [12]:
data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,1,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,1,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,2,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,1,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,1,122,N,0.0,Up,0

In [13]:
data.ExerciseAngina

0      N
1      N
2      N
3      Y
4      N
      ..
913    N
914    N
915    Y
916    N
917    N
Name: ExerciseAngina, Length: 918, dtype: object

In [14]:
enc_ang={'N':0, 'Y':1}
data.ExerciseAngina.map(enc_ang)

0      0
1      0
2      0
3      1
4      0
      ..
913    0
914    0
915    1
916    0
917    0
Name: ExerciseAngina, Length: 918, dtype: int64

In [15]:
data.ExerciseAngina = data.ExerciseAngina.map(enc_ang)

In [16]:
data.head(2)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,1,172,0,0.0,Up,0
1,49,F,NAP,160,180,0,1,156,0,1.0,Flat,1

In [18]:
#encode St-slop
data.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [19]:
enc_slope={'Up':0, 'Flat':1,'Down':2}

In [21]:
data.ST_Slope.map(enc_slope)

0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: ST_Slope, Length: 918, dtype: int64

In [22]:
data.ST_Slope = data.ST_Slope.map(enc_slope)

In [23]:
data.head(2)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,1,172,0,0.0,0,0
1,49,F,NAP,160,180,0,1,156,0,1.0,1,1

In [24]:
#encode 
data.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [25]:
enc_chest={'ATA':0, 'NAP':1,'ASY':2,'TA':3}

In [26]:
data.ChestPainType.map(enc_chest)

0      0
1      1
2      0
3      2
4      1
      ..
913    3
914    2
915    2
916    0
917    1
Name: ChestPainType, Length: 918, dtype: int64

In [27]:
data.ChestPainType = data.ChestPainType.map(enc_chest)

In [28]:
data.head(2)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,0,140,289,0,1,172,0,0.0,0,0
1,49,F,1,160,180,0,1,156,0,1.0,1,1

In [29]:
#encode 
data.Sex.unique()

array(['M', 'F'], dtype=object)

In [30]:
enc_sex={'M':0, 'F':1}

In [32]:
data.Sex.map(enc_sex)

0      0
1      1
2      0
3      1
4      0
      ..
913    0
914    0
915    0
916    1
917    0
Name: Sex, Length: 918, dtype: int64

In [33]:
data.Sex = data.Sex.map(enc_sex)

In [34]:
data.head(2)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,0,0,140,289,0,1,172,0,0.0,0,0
1,49,1,1,160,180,0,1,156,0,1.0,1,1

In [ ]:
data.to_csv('data_encoded_kath.csv',index = False)

In [36]:
data = pd.read_csv(r'data_encoded_kath.csv')

In [37]:
data.head(2)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,0,0,140,289,0,1,172,0,0.0,0,0
1,49,1,1,160,180,0,1,156,0,1.0,1,1

In [38]:
#tensorflow

In [39]:
# Create model 
model_dict={
    'lr_model': LogisticRegression(),
    'svc_model': SVC(),
    'rf_model': RandomForestClassifier(),
    'dt_model': DecisionTreeClassifier(),
    'knn_model': KNeighborsClassifier()
}

KeyError: "['heart_data'] not found in axis"