In [1]:
class Class_name:
    pass

In [9]:
class Dog:
    pass

In [1]:
class Dog:
    breed='german'
    def_init_(self,name,age):
        self.name=name # instant Variable
    self..age=age
def show(self):
    print(f"breed :{dog.breed}")
    print(f"Name :{self.name}")
    print(f"Age :{self.age}")

SyntaxError: invalid syntax (2953971606.py, line 3)

#example of inheritance

In [ ]:
class Bank:
    b_name='Nabil bank'
    b_code='9863'

class branch(Bank):
    location='kumaripati'
    def_int_(self,manager,contact):
        self.manager=manager
        self.contact=contact

def branch_info(self):
    print(f"Bank Name:{Bank.b_name}")
    print(f"Location:{branch.location}")
    print(f"Manager:{self.manager}")

In [18]:
#create a  class
#create a class bank with a name and code 'nepal Bank.code 1233 create a method show_info to display bank name and code
class Bank:
    b_name='Napal bank'
    b_code='1123'
    
    def show_info(self):
        print(f"Bank Name:{Bank.b_name}")
        print(f"The code is:{Bank.b_code}")

        class Bank_Manager:
            ceo="ram bahadur"
            chairman="ytsav"
            def show(self):
                prin(f"ceo:
        class Branch(Bank):
             location ='kumaripati'
    def show(self):
          print(f"Bank Name:{Bank.b_name}")
          print(f"The code is:{Bank.b_code}")
          print(f"Branch Location;{Branch.location}")

IndentationError: expected an indented block after function definition on line 14 (918262085.py, line 15)

In [7]:
bank=Bank()
bank.show_info

Bank Name:Napal bank
The code is:1123

In [17]:
#create a branch with  inherits the class Bank
class Branch(Bank):
    location='kumaripati'
    def show(self):
          print(f"Bank Name:{Bank.b_name}")
          print(f"The code is:{Bank.b_code}")
          print(f"Branch Location;{Branch.location}")

 #method overloading

In [19]:
class Xyz:
    def method:

class abc(Xyz):
    def method1:

class mno(Xyz):
    def method2:
    pass
    def method3:

SyntaxError: expected '(' (2429218419.py, line 2)

In [21]:
# example for method overwriting
class Parent:
    def show_info(self):
        return "this is called from parent class"
class child1(Parent):
    def show_info(self):
        return "this is from child cls"
class child2(Parent):
    pass

In [22]:
in1=child1()

In [24]:
class Nepal:
    def show_info(self):
        return"this is called from Nepal"
class Jankpur1(Nepal):
    def show_info(self):
        return "this is from nepal"
class Janakpur2(Nepal):
    pass

In [26]:
a=Janakpur2()
a.show_info()

'this is called from Nepal'

#DUCK typing

In [33]:
class Toyota:
    def show_info(self):
        print("the branch anme id toyota")
class BYD:
    def show_info(self):
        print( "the brand name is BYD")
class MG:
    def show_info(self):
        print("the branch anme id MG")

def car_info(car):
       car.brand_info()
car1=Toyota()
car2=BYD()
car3=MG()

In [34]:
car_info(car3)

AttributeError: 'MG' object has no attribute 'brand_info'

In [39]:
class Yamaha:
    def show_info(self):
        print("the branch anme id Yamaha")
class Honda:
    def show_info(self):
        print( "the brand name is Honda")
class BMW:
    def show_info(self):
        print("the branch Name id BMW")

def bike_info(bike):
       bike.brand_info()
bike1=Yamaha()
bike2=Honda()
bike3=BMW()

In [40]:
bike_info(bike3)

AttributeError: 'BMW' object has no attribute 'brand_info'

In [ ]:
#create a file to read a text and count the blank spaces from thee text 
#write a script in python to read a file and create a dictionary of the words starting with vowel and consonant 
#write a sript in python to convert teo differrt liwstinto  a dictionary
#wap scripts in pythin ot remive duplicate elements from the list
#write a script to create two dofferent list from a dictionary